android/.gitignore
android/build.gradle
android/gradle.properties
android/imc_android.iml
android/settings.gradle
android/app/build.gradle
android/app/src/debug/AndroidManifest.xml
android/app/src/main/AndroidManifest.xml
android/app/src/main/kotlin/com/example/imc/MainActivity.kt
android/app/src/main/res/drawable/launch_background.xml
android/app/src/main/res/drawable-v21/launch_background.xml
android/app/src/main/res/mipmap-hdpi/ic_launcher.png
android/app/src/main/res/mipmap-mdpi/ic_launcher.png
android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
android/app/src/main/res/values/styles.xml
android/app/src/main/res/values-night/styles.xml
android/app/src/profile/AndroidManifest.xml
android/gradle/wrapper/gradle-wrapper.properties
.dart_tool/package_config_subset
.dart_tool/package_config.json
.dart_tool/version
.dart_tool/extension_discovery/vs_code.json
.dart_tool/flutter_build/6e8593188cb497980f7f0183d1bfbc27/.filecache
.dart_tool/flutter_build/6e8593188cb497980f7f0183d1bfbc27/app.dill
.dart_tool/flutter_build/6e8593188cb497980f7f0183d1bfbc27/debug_android_application.stamp
.dart_tool/flutter_build/6e8593188cb497980f7f0183d1bfbc27/flutter_assets.d
.dart_tool/flutter_build/6e8593188cb497980f7f0183d1bfbc27/gen_dart_plugin_registrant.stamp
.dart_tool/flutter_build/6e8593188cb497980f7f0183d1bfbc27/gen_localizations.stamp
.dart_tool/flutter_build/6e8593188cb497980f7f0183d1bfbc27/kernel_snapshot.d
.dart_tool/flutter_build/6e8593188cb497980f7f0183d1bfbc27/kernel_snapshot.stamp
.dart_tool/flutter_build/6e8593188cb497980f7f0183d1bfbc27/native_assets.d
.dart_tool/flutter_build/6e8593188cb497980f7f0183d1bfbc27/native_assets.stamp
.dart_tool/flutter_build/6e8593188cb497980f7f0183d1bfbc27/native_assets.yaml
.dart_tool/flutter_build/6e8593188cb497980f7f0183d1bfbc27/outputs.json
.dart_tool/flutter_build/8ac31879a4214a7d36792f673eca826e/.filecache
.dart_tool/flutter_build/8ac31879a4214a7d36792f673eca826e/app.dill
.dart_tool/flutter_build/8ac31879a4214a7d36792f673eca826e/debug_android_application.stamp
.dart_tool/flutter_build/8ac31879a4214a7d36792f673eca826e/flutter_assets.d
.dart_tool/flutter_build/8ac31879a4214a7d36792f673eca826e/gen_dart_plugin_registrant.stamp
.dart_tool/flutter_build/8ac31879a4214a7d36792f673eca826e/gen_localizations.stamp
.dart_tool/flutter_build/8ac31879a4214a7d36792f673eca826e/kernel_snapshot.d
.dart_tool/flutter_build/8ac31879a4214a7d36792f673eca826e/kernel_snapshot.stamp
.dart_tool/flutter_build/8ac31879a4214a7d36792f673eca826e/native_assets.d
.dart_tool/flutter_build/8ac31879a4214a7d36792f673eca826e/native_assets.stamp
.dart_tool/flutter_build/8ac31879a4214a7d36792f673eca826e/native_assets.yaml
.dart_tool/flutter_build/8ac31879a4214a7d36792f673eca826e/outputs.json
.dart_tool/flutter_build/bf258dee274985750b15d26c6ca6593c/.filecache
.dart_tool/flutter_build/bf258dee274985750b15d26c6ca6593c/app.dill
.dart_tool/flutter_build/bf258dee274985750b15d26c6ca6593c/debug_android_application.stamp
.dart_tool/flutter_build/bf258dee274985750b15d26c6ca6593c/flutter_assets.d
.dart_tool/flutter_build/bf258dee274985750b15d26c6ca6593c/gen_dart_plugin_registrant.stamp
.dart_tool/flutter_build/bf258dee274985750b15d26c6ca6593c/gen_localizations.stamp
.dart_tool/flutter_build/bf258dee274985750b15d26c6ca6593c/kernel_snapshot.d
.dart_tool/flutter_build/bf258dee274985750b15d26c6ca6593c/kernel_snapshot.stamp
.dart_tool/flutter_build/bf258dee274985750b15d26c6ca6593c/native_assets.d
.dart_tool/flutter_build/bf258dee274985750b15d26c6ca6593c/native_assets.stamp
.dart_tool/flutter_build/bf258dee274985750b15d26c6ca6593c/native_assets.yaml
.dart_tool/flutter_build/bf258dee274985750b15d26c6ca6593c/outputs.json
build/47ac55276a913a033582f399f0e3b4a8/_composite.stamp
build/47ac55276a913a033582f399f0e3b4a8/gen_dart_plugin_registrant.stamp
build/47ac55276a913a033582f399f0e3b4a8/gen_localizations.stamp
